/* #region Global */
div.main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

footer {
    left: -50%;
}
/* #endregion Global */

/* #region Full Page */
div.order-message, div.order-customer-details, div.order-container, div.order-price-container {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
    width: 100%;
    height: fit-content;
    padding: 1.75em 1.25em;
    border-width: 0.15em;
    border-color: var(--accent-one-medium-light);
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0.15em 0.65em var(--shadow-color);
    background-color: var(--accent-one-medium-bright);
    box-sizing: border-box;
    transition: padding ease 0.75s;
}

h1.order-header, h2.order-header, h3.order-header, h4.order-header, h5.order-header {
    width: fit-content;
    margin: 0;
    /*text-wrap-style: pretty;*/
    white-space: nowrap;
}

    div.order-customer-details h2.order-header {
        text-decoration: solid 3px underline var(--accent-two-medium-light);
    }

hr.order-break {
    display: block;
    border: 0;
    border-top: 0.15em solid var(--accent-two-medium-light);
    grid-column: 1 / -1;
    width: 100%;
    height: 0.15em;
    margin: 0;
}

/* #endregion Full Page */

div.order-placed-body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: min-content auto 1fr;
    min-width: fit-content;
    padding: 0 clamp(2%, 6%, 12%);
    transition: padding ease 0.75s;
    box-sizing: border-box;
}

div.order-details, div.order-summary {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    padding: 2em clamp(1em, 2em, 4em);
    row-gap: 2em;
}

/* #region order Details (Left Column) */
div.order-details {
    grid-column: 1;
    justify-content: space-between;
}

/* #region Order Contents */
div.order-container {
    flex-grow: 1;
    flex-flow: row wrap;
    row-gap: 0.25em;
    overflow-y: hidden;
}

    div.order-container div.order-contents {
        width: 100%;
        padding-right: 1em;
        overflow-y: auto;
    }

div.order-item {
    display: grid;
    grid-template-columns: 5.5em minmax(8em, 2fr) auto min-content;
    column-gap: 0.25ch;
    width: 100%;
    align-items: center;
}

div.order-thumbnail :first-child {
    height: inherit;
    aspect-ratio: 1;
    border-radius: 1.5em;
}

div.order-flavor {
    margin-left: 1em;
}

div.order-quantity {
    justify-self: end;
}

h5.order-header.quantity {
    text-align: end;
}

div.order-price {
    justify-self: end;
}

div.order-discrepancy-container {
    width: 100%;
    text-wrap: balance;
}

/* #endregion Order Contents */

/* #endregion order Details (Left Column) */

/* #region Middle Separation */
div.order-separation {
    grid-column: 2;
    width: fit-content;
    height: 90%;
    align-self: center;
    border-right: 0.15em solid var(--accent-two-medium-light);
}
/* #endregion Middle Separation */

/* #region Order Summary (Right Column) */
div.order-summary {
    grid-column: 3;
    min-width: fit-content;
}

div.order-customer-details {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1em;
    justify-content: space-around;
}

    div.order-customer-details div.contact, div.order-customer-details div.address {
        display: flex;
        flex-flow: column nowrap;
        width: fit-content;
        row-gap: 0.5em;
    }

        div.order-customer-details div.address h3.order-header {
            white-space: wrap;
            text-wrap-style: pretty;
        }

div.order-price-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.75em;
    align-items: center;
}

    h3.order-header.discount {
        grid-column: 1 / 3;
        white-space: normal;
        text-wrap-style: pretty;
    }

    div.order-price-container h3.price {
        text-align: end;
    }

/* #endregion Order Summary (Right Column) */

/* #region Media Queries */
@media (max-width: 1500px) {
    h2.order-header.message {
        white-space: wrap;
        text-wrap-style: pretty;
    }

    div.order-placed-body {
        /*flex-flow: column nowrap;*/
        padding: 0 2%;
    }

    div.order-flavor {
        margin-left: 0.5em;
    }
}

/* Tablet */
@media (max-width: 1075px) {
    div.order-placed-body {
        flex-grow: 1;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 0.5em;
        padding: 0 5%;
    }

    div.order-details {
        padding-bottom: 0;
        row-gap: 0.5em;
    }

    div.order-separation {
        display: none;
    }

    div.order-container {
        min-width: fit-content;
        height: fit-content;
        padding-right: 0;
        overflow-y: auto;
        border-top: 0;
        border-bottom: 0;
    }

    h5.order-header.quantity {
        width: unset;
    }

    div.order-summary {
        row-gap: 0.75em;
        padding-top: 0;
    }

}

/* Mobile */
@media (max-width: 650px) {
    div.order-placed-body {
        padding: 0.5em;
    }

    div.order-item {
        grid-template-rows: 1fr auto;
        grid-template-columns: 5.5em 1fr min-content;
    }

        div.order-item div.order-flavor {
            grid-row: 1;
            grid-column: 1 / 4;
        }

        div.order-item div.order-thumbnail, div.order-item div.order-quantity, div.order-item div.order-price {
            grid-row: 2;
        }

    div.order-details, div.order-summary {
        padding: 0;
    }

    div.order-customer-details {
        flex-flow: column wrap;
    }

    div.order-flavor h4.order-header {
        font-size: 1.25rem;
    }

    h5.order-header {
        font-size: 1.1rem;
    }

}
/* #endregion Media Queries */
