@{
    ViewData["Title"] = @ViewBag.Title;
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/recipeSingle/recipeSingle.css" />
}

<div class="recipe-single-body">

    <div class="recipe-single-item recipe-single-header">
        <h2 id="RecipeName" class="recipe-single-name"></h2>

        <h4 id="RecipeDescription" class="recipe-single-description"></h4>
    </div>

    <div id="RecipeImageContainer" class="recipe-single-item recipe-single-image-container"></div>

    <div class="recipe-single-item recipe-single-ingredient-container">
        <h3 class="recipe-label">Ingredients</h3>
        <ul id="RecipeIngredients" class="recipe-ingredient-list"></ul>
        <p class="recipe-size">This recipe makes one and a half quarts</p>
    </div>

    <div class="recipe-single-item recipe-single-step-container">
        <h3 class="recipe-label">Steps</h3>
        <ol id="RecipeSteps" class="recipe-steps"></ol>
    </div>

    <div class="recipe-single-item recipe-single-notes-container">
        <h3 class="recipe-label">Notes</h3>
        <div id="RecipeNotes" class="recipe-notes"></div>
    </div>

</div>

@section Scripts {
    <script>
        let recipeBundle = @Html.Raw(ViewBag.RecipeBundle);
    </script>
    <script type="module" src="~/js/recipePage.js" asp-append-version="true"></script>
}