@section StyleSheets {
    <link rel="stylesheet" href="~/css/order/placed.css" asp-append-version="true" />
}

<div class="order-placed-body">
    <div class="order-details">

        <div id="OrderMessage" class="order-message"></div>

        <div class="order-container">
            <div id="OrderContents" class="order-contents"></div>
        </div>

    </div>

    <div class="order-separation"></div>

    <div class="order-summary">

        <div class="order-customer-details">
            <div class="contact">
                <h2 class="order-header">Contact Information</h2>

                <h3 class="order-header" name="FullName"></h3>
                <h3 class="order-header" name="Email"></h3>
                <h3 class="order-header" name="Telephone"></h3>
            </div>

            <div class="address">
                <h2 class="order-header">Shipping Address</h2>

                <h3 class="order-header" name="Address"></h3>
                <h3 class="order-header" name="City, Zipcode"></h3>
                <h5 class="order-header" name="SpecialInstructions"></h5>
            </div>
        </div>

        <div class="order-price-container">
            <h3 id="OrderDiscount" class="order-header discount"></h3>

            <hr class="order-break" />

            <h3 class="order-header">Subtotal</h3>
            <h3 class="order-header price" name="SubtotalPrice"></h3>

            <h3 class="order-header">Tax</h3>
            <h3 class="order-header price" name="TaxPrice"></h3>

            <h3 class="order-header">Shipping</h3>
            <h3 class="order-header price" name="ShippingPrice"></h3>

            <hr class="order-break" />

            <h3 class="order-header total">Total</h3>
            <h3 class="order-header price" name="TotalPrice"></h3>
        </div>


    </div>
</div>

@section Scripts {
    <script>
        let orderDetails = @Html.Raw(ViewBag.Order);
    </script>
    <script type="module" src="~/js/order/managed.js" asp-append-version="true"></script>
}