div.recipe-single-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr min-content min-content;
    gap: 1.5em 3em;
    justify-content: center;
    padding: 0 15%;
    margin: 3em 0;
    transition: 0.75s padding linear, 0.75s margin linear;
}

*.recipe-single-item {
    display: flex;
    flex-flow: column nowrap;
    min-width: fit-content;
    height: min-content;
    padding: 1.5em 2em;
    margin: 0;
    border-width: 0.15em;
    border-color: var(--accent-one-medium-light);
    border-style: solid;
    border-radius: 2em;
    box-shadow: 0 0.15em 0.65em var(--shadow-color);
    background-color: var(--accent-one-medium-bright);
    box-sizing: border-box;
}

/* Header for each Block */
h3.recipe-label {
    margin: 0 0 0 1em;
    text-decoration: underline var(--accent-two-medium-light) solid;
    text-underline-offset: 0.5rem;
}

/* #region Recipe Info Block */

div.recipe-single-header {
    row-gap: 0.25em;
    justify-content: space-between;
    height: auto;
}

.recipe-single-name {
    text-decoration: underline var(--accent-two-medium-light) solid;
    text-underline-offset: 0.5rem;
    margin: 0 0 0 1em;
}

div.recipe-add-to-cart-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5em 0;
}

div.recipe-stock-container {
    margin: 0 0 0 1.5em;
}

    .recipe-stock-info {
        white-space: pre;
        margin: 0.25em 0;
    }

.recipe-add-to-cart-header {
    margin: 0 0 0 0.75em;
}

div.recipe-add-to-cart {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.75em;
    justify-content: space-between;
}

    div.recipe-add-to-cart span {
        display: flex;
        flex-flow: row nowrap;
    }

.add-to-cart {
    border: none;
    font-size: 1.05rem;
    color: var(--main-text);
    background-color: var(--alt-bg);
    margin: 0.2em 0;
    user-select: none;
}

body:has(dialog[open]) .add-to-cart, body:has(dialog[open]) .add-to-cart span {
    cursor: default !important;
    transition: none !important;
    transform: none !important;
}

    .add-to-cart:not(:disabled).minus, .add-to-cart:not(:disabled).plus {
        cursor: pointer;
    }

        .add-to-cart.minus:not(:disabled):hover span, .add-to-cart.plus:not(:disabled):hover span {
            transition: .12s ease-out;
            transform: scale(1.5);
        }

    .add-to-cart.minus {
        padding: 0.5em 1em;
        border-top-left-radius: 0.35em;
        border-bottom-left-radius: 0.35em;
        border-top: 1px solid var(--accent-two-medium-dim);
        border-left: 1px solid var(--accent-two-medium-dim);
        border-bottom: 1px solid var(--accent-two-medium-dim);
    }

    .add-to-cart.plus {
        padding: 0.5em 0.75em;
        border-top-right-radius: 0.35em;
        border-bottom-right-radius: 0.35em;
        border-top: 1px solid var(--accent-two-medium-dim);
        border-right: 1px solid var(--accent-two-medium-dim);
        border-bottom: 1px solid var(--accent-two-medium-dim);
    }

    .add-to-cart[type=number] {
        padding: 0.5em 0;
        text-align: center;
        -moz-appearance: textfield;
        width: 2em;
        border-top: 1px solid var(--accent-two-medium-dim);
        border-bottom: 1px solid var(--accent-two-medium-dim);
    }

        .add-to-cart[type=number]::-webkit-outer-spin-button, .add-to-cart[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .add-to-cart.minus:disabled, .add-to-cart.plus:disabled, .add-to-cart[type=number]:disabled {
            cursor: default;
            background-color: var(--disabled-input);
        }

.recipe-single-description {
    flex-grow: 2;
    margin: 0;
}

    .recipe-single-description::before {
        display: block;
        content: "";
        border-top: 0.15em solid var(--accent-two-medium-light);
        margin: 1em 0;
    }

/* #endregion Recipe Info Block */

/* #region Recipe Image Block */

div.recipe-single-image-container {
    grid-column: 1;
    grid-row: 1;
}

/* #endregion Recipe Image Block */

/* #region Recipe Ingredients Block */

div.recipe-single-ingredient-container {
    grid-column: 1;
    grid-row: 2;
}

ul.recipe-ingredient-list {
    padding-left: 0;
}

    ul.recipe-ingredient-list::after {
        display: block;
        content: "";
        border-bottom: 0.15em solid var(--accent-two-medium-light);
        margin: 1em 0;
    }

li.recipe-single-ingredient {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

    li.recipe-single-ingredient span {
        max-width: 50%;
        text-wrap-style: pretty;
        justify-content: end;
    }

        li.recipe-single-ingredient span:last-child {
            text-align: end;
        }

.recipe-single-checkbox {
    margin: 0.25em 0.5em 0 0;
}

p.recipe-batch-size {
    align-self: center;
    margin: 0;
}

/* #endregion Recipe Ingredients Block */

/* #region Recipe Steps Block */

div.recipe-single-step-container {
    grid-column: 2;
    grid-row: 2;
    min-width: 18em;
}

/* #endregion Recipe Steps Block */

/* #region Recipe Notes Block */

/*div.recipe-single-notes-container {
    grid-column: 1 / 3;
    grid-row: 3;
}

div.recipe-notes {
    margin: 0 1.5em;
}

    div.recipe-notes li.recipe-single-note {
        list-style: none;
    }

        div.recipe-notes li.recipe-single-note:not(:last-child)::after {
            display: block;
            content: "";
            border-bottom: 0.15em solid var(--accent-two-medium-light);
            margin: 0 1rem;
        }

li.recipe-single-note p span {
    font-weight: bold;
    margin-right: 1em;
}

li.recipe-single-note p {
    text-wrap: pretty;
}*/


/* #endregion Recipe Notes Block */

/* #region Media Queries */

/* Tablet */
@media (max-width: 1200px) {
    div.recipe-single-body {
        gap: 1.5em;
        padding: 0 2.5%;
        margin: 2em 0;
    }

    *.recipe-single-item {
        padding: 0.85em 0.85em;
    }
    .add-to-cart.minus {
        padding: 0.5em 0.5em;
    }

    .add-to-cart.plus {
        padding: 0.5em 0.35em;
    }

    .recipe-steps {
        padding-left: 1rem;
    }
}

/* Mobile */ 
@media (max-width: 670px) {
    div.recipe-single-body {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, min-content);
        gap: 1.75em;
    }

    *.recipe-single-item {
        padding: 1em 1.5em;
    }

    div.recipe-single-header {
        grid-column: 1;
    }

    h2.recipe-single-name {
        margin-left: 0.5em;
    }

    div.recipe-single-image-container {
        padding: 1.25em;
        grid-column: 1;
        grid-row: 2;
    }

    div.recipe-single-ingredient-container {
        grid-column: 1;
        grid-row: 3;
    }

    div.recipe-single-step-container {
        grid-column: 1;
        grid-row: 4;
    }

    ol.recipe-steps {
        padding: 0 0 0 0.5em;
    }

    div.recipe-single-notes-container {
        grid-column: 1;
        grid-row: 5;
    }

    div.recipe-notes {
        margin: 0;
    }
}

@media (hover: none) {
    .add-to-cart.minus:hover span, .add-to-cart.plus:hover span {
        transform: none !important;
    }
}

/* #endregion Media Queries */