@{
    ViewData["Title"] = "Cart";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/cart/cart.css" asp-append-version="true" />
}

<div id="CartBody" class="cart-body">

</div>

@section Scripts {
    <script type="module" src="~/js/cart/cart.js" asp-append-version="true"></script>
}