@{
    ViewData["Title"] = "Recipe"; // Replace this with a variable that is grabbed from an API of what recipe it is
}

@section StyleSheets {
    <link rel="stylesheet" href="~/css/ingredient.css" />
}

<div id="IngredientBody" class="ingredient-body">

    <h2>Ingredients are hard. Lets make them easier... with data</h2>

    <p>Within the confines of frozen confectionery, an uncharted world of culinary science awaits exploration. Our dedicated webpage is a digital laboratory, a virtual arena where the meticulous artistry of ice cream is subjected to the rigor of empirical investigation. Our focus? Ingredients – the elemental building blocks that compose this beloved treat. In this meticulous study, we dissect the effects of individual ingredients on the very essence of ice cream, scrutinizing the nuances that span from texture to flavor. With a methodology akin to a lab experiment, we systematically vary ingredients to unravel the intricate interplay within the matrix of frozen indulgence. This is more than a taste test; it's a sensory odyssey, an expedition into the realms of gastronomic chemistry. Join us in this scientific gastronomical journey, where each scoop is a result of calculated variables and every bite a revelation.</p>

    <div class="ingredient-data"></div>
`
</div>

@section Scripts {
    
}