<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Creamy</title>
    <link rel="stylesheet" href="~/css/site/root.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/site.css" asp-append-version="true" />
    @await RenderSectionAsync("StyleSheets", required: false)
</head>

<body>
    <header class="main-header">
        <div class="logo-container">
            <div class="logo">
            </div>
            <div class="logo-title">
                <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index">GetCreamy</a>
            </div>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Flavors">Flavors</a>
                </li>
                @if (ViewBag.Cart) {
                    <li id="CartIconContainer" class="nav-item">
                        <svg viewBox="0 0 902.86 823.75" class="cart-icon">
                            <g id="g3" transform="translate(0,-102.20216)">
                                <g id="g2" transform="matrix(-1,0,0,1,902.86,77.08216)">
                                    <path d="M 671.504,577.829 781.989,145.22 H 902.86 v -68 H 729.174 L 703.128,179.2 0,178.697 74.753,577.826 h 596.751 z m 14.262,-330.641 -67.077,262.64 H 131.199 L 81.928,246.756 Z" id="path1"></path>
                                    <path d="m 578.418,825.641 c 59.961,0 108.743,-48.783 108.743,-108.744 0,-59.961 -48.782,-108.742 -108.743,-108.742 H 168.717 c -59.961,0 -108.744,48.781 -108.744,108.742 0,59.961 48.782,108.744 108.744,108.744 59.962,0 108.743,-48.783 108.743,-108.744 0,-14.4 -2.821,-28.152 -7.927,-40.742 h 208.069 c -5.107,12.59 -7.928,26.342 -7.928,40.742 0.001,59.961 48.783,108.744 108.744,108.744 z M 209.46,716.897 c 0,22.467 -18.277,40.744 -40.743,40.744 -22.466,0 -40.744,-18.277 -40.744,-40.744 0,-22.465 18.277,-40.742 40.744,-40.742 22.466,0 40.743,18.277 40.743,40.742 z m 409.702,0 c 0,22.467 -18.277,40.744 -40.743,40.744 -22.466,0 -40.743,-18.277 -40.743,-40.744 0,-22.465 18.277,-40.742 40.743,-40.742 22.466,0 40.743,18.277 40.743,40.742 z" id="path2"></path>
                                </g>
                            </g>
                        </svg>
                    </li>
                }
            </ul>
        </nav>
    </header>

    <div role="main" class="main">
        @RenderBody()

        <footer>
            <div class="home-footer">
                &copy; 2025 - GetCreamy - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            </div>
        </footer>

    </div>

    <div class="main-gdpr-toast-container">
        <div id="ToastGDPR" class="main-gdpr-toast">
            <p>
                I use cookies, but I don't sell your data.
                If you click okay or continue to browse, you consent to first-party data collection for site functionality.
            </p>
            <button id="AcceptGDPR" class="main-gdpr-button">Accept</button>
        </div>
    </div>

    <dialog id="CartDialog" closedby="any" class="cart-dialog">

        <div class="cart-body-container">

            <div class="cart-header">
                <h2>Shopping Cart</h2>
                <div class ="cart-close-container">
                    <svg id="CartClose" viewBox="0 0 16 16" class="cart-close-icon">
                        <path d="M 15.569 13.014 L 10.549 8 L 15.565 2.983 C 16.143 2.407 16.143 1.478 15.567 0.9 L 15.1 0.434 C 14.827 0.153 14.452 0 14.058 0 C 14.056 0 14.056 0 14.056 0 C 13.663 0 13.292 0.155 13.016 0.433 L 8 5.452 L 2.982 0.438 C 2.406 -0.139 1.48 -0.142 0.901 0.436 L 0.435 0.897 C 0.155 1.173 0 1.548 0 1.941 C 0 2.334 0.156 2.708 0.432 2.984 L 5.452 8 L 0.437 13.016 C -0.142 13.593 -0.142 14.52 0.435 15.101 L 0.9 15.566 C 1.177 15.847 1.55 16 1.944 16 C 2.336 16 2.711 15.844 2.987 15.567 L 8.001 10.549 L 13.017 15.561 C 13.301 15.848 13.68 15.993 14.06 15.993 C 14.434 15.993 14.813 15.85 15.1 15.565 L 15.566 15.1 C 15.847 14.825 16 14.451 16 14.058 C 16.002 13.663 15.847 13.291 15.57 13.014 L 15.569 13.014 Z"></path>
                    </svg>
                </div>
            </div>

            <div class="cart-details-container">
                <div class="cart-details-header">
                    <h3>Flavor</h3>
                    <h3>Quantity</h3>
                    <h3>Price</h3>
                </div>
                <div id="CartDetailsBody" class="cart-details-body"></div>
            </div>

        </div>


        <div class="cart-summary-container">

            <h2 id="CartDetailsCount">Item Count: </h2>

            <h2 id="CartSubtotalContainer"></h2>

            <a asp-area="" asp-controller="Order" asp-action="Checkout" id="CartCheckout" class="cart-checkout">Checkout</a>

        </div>

    </dialog>

    <script>
        let cartAllowed = @Json.Serialize(ViewBag.Cart);
    </script>
    <script type="text/javascript" src="/config/settings.js"></script>
    <script type="module" src="~/js/site/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
