.menuList-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.menuList-menu-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 1;
}

    .menuList-menu-container * {
        transition: all 0.4s ease-out;
    }

.menuList-menu-image-container {
    position: relative;
    height: 100%;
    border-radius: 2em;
    aspect-ratio: 1;
    overflow: hidden;
    z-index: 2;
}

    .menuList-image-container {
        position: absolute;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }

    .menuList-image-container:first-child {
        opacity: 1;
    }

    .menuList-menu-image-container:has(.menuList-image-hover:not(.menuList-image-container:first-child)) .menuList-image-container:first-child {
        /* prevents jerkiness when hovering from 2 through n items in menuList then transitioning to first element */
        opacity: 0;
    }

    .menuList-image-hover {
        /* only match .menuList-image-hover item that is direct descendent of .menuList-menu-image-container */
        opacity: 1;
        z-index: 3;
    }

/* #region Media Queries */

/* Tablet */
/*@media (max-width: 800px) {

}*/

/* Mobile */
/*@media (max-width: 500px) {

}*/

/* #endregion Media Queries */